*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(35, 202, 232);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}
body{
position: relative;
 overflow: hidden;
 width: 100wh;
 height: 100vh;
 background-color: #012;
 cursor: pointer;
  /*new commit*/
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -webkit-tap-highlight-color: #fff0;
}
#container{
  width: 100%;
  height: 100%;
}
#exitBtn{
  display: none;
  width: fit-content;
  height: fit-content;
  padding: 2px 6px;
  margin: 10px;
  border-radius: 50%;
}
.toolsBar{
  position: fixed;
  width: 100%;
  top: 0px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  box-shadow: 0 3px 20px 5px #0003;
  background: #001;
}
.toolsBar #points{
  width: 50%;
  font-size: 30px;
  text-align: start;
}

@media only screen and (max-width: 992px){
  .toolsBar{
      flex-direction: column;
      gap: 10px;
      padding: 5px;
  }
  #exitBtn{
      position: absolute;
      right: 10px;
      top: 35%;
      transform: translateY(-50%);
  }
  #points{
      width: 100%;
      text-align: center;
  }

}
@media only screen and (max-width: 720px){
  #panel .controls{
      flex-direction: column;
      width: 100%;
      padding: 0 50px;
  }
  .controls .btn{
      width: 230px;
      padding: 10px
  }
}
@media only screen and (max-width: 312px){
  #panel .title{
      font-size: 30px;
  }
  #panel .controls{
      gap: 0;
  }
  .controls .btn{
      width: 150px;
  }
  #points{
      font-size: 17px;
  }
}
@media only screen and (max-width: 200px){
  #panel .title{
      font-size: 20px;
  }
  #panel .controls{
      gap: 0;
  }
  .controls .btn{
      width: 100px;
      padding: 5px;
      margin:0;
      border-radius: 0;
      border: 1px solid #0123;
  }
  #points{
      font-size: 13px;
  }
  #exitBtn{
      display: none;
  }
}

